Port 2222

ListenAddress 127.0.0.1
ListenAddress ::1

StrictModes no

UsePAM yes
PasswordAuthentication yes
PubkeyAuthentication yes
KbdInteractiveAuthentication no
GSSAPIAuthentication no

Subsystem sftp internal-sftp -u 022

LogLevel VERBOSE
